@{
    ViewBag.Title = "BlackRhodeIslanders";
    Layout = "~/Views/Shared/_LayoutThemedCollections.cshtml";
}

<div class="row">
    <div class="themed-collections-content col-lg-9 mb-5">



        <h2 class="content-headers">Black Rhode Islanders</h2>
        <hr class="mb-3">
        <div class="row">
            <div class="col-lg-8">
                <p>
                    People of African heritage have lived in Rhode Island since the 17th century. The first Africans
                    were brought to Rhode Island as part of the transatlantic maritime trade known as the Triangle
                    Trade. Traders made rum in Rhode Island using sugar cane harvested in the Caribbean; the rum was
                    then used to purchase African men, women, and children who were sold into slavery. Between
                    1700-1800, Rhode Island merchants sponsored approximately 1,000 slaving voyages, bringing over
                    100,000 Africans to America. While many were sold to plantation owners in the southern colonies,
                    some were enslaved or retained as indentured servants in Rhode Island. By the 1770s Rhode Island had
                    the greatest population of enslaved people per capita in New England.</p>

                <p>The history of the African American experience in Rhode Island goes well beyond slavery, however, and
                    the contributions of Black Rhode Islanders continue to have a lasting impact on the state. Rhode
                    Island was the first state to create an explicitly non-white military regiment during the American
                    Revolution. The 1st Rhode Island Regiment was comprised of Black and Indigenous men, serving in
                    several battles including the Battle of Rhode Island in 1778, and the decisive Battle of Yorktown in
                    1781. During the Civil War, Rhode Island was the first state to issue a call for a voluntary
                    regiment comprised entirely of Black soldiers. It quickly reached capacity as&nbsp;men from around
                    New England joined to support the Union Army. Black communities were also civically engaged,
                    actively petitioning the General Assembly in their pursuit of equal rights in the 19th and 20th
                    centuries. </p>
                @* <p>2022 marks the 250th anniversary of the attack on the HMS <em>Gaspee</em>. You can learn more
                    about
                    the event and its aftermath on our <a
                    href="@Url.Action("Gaspee","Divisions/CivicsAndEducation/ForEducators/ThemedCollections")"><em>Gaspee</em>
                    resources page.</a></p> *@
            </div>

            <div class="col-lg-4">
                <img class="img-fluid" src="/assets/img/civics/teacher-resources/mahlon-van-horne.jpeg"
                    alt="Reverend Mahlon Van Horne">
                <div class="rssdescription">Reverend Mahlon Van Horne</div>
                <br />
                <p>Explore the State Archives’ virtual exhibition, <a
                        href="https://artsandculture.google.com/story/UgWRMHs9oideVA" target="_blank">"Bullets &amp;
                        Bulletins: Black Activism in Civil War Era Rhode Island."</a></p>
            </div>

        </div>


        <div class="row">
            <div class="columns small-12">
                <hr>
                <h3 class="content-headers" style="border-bottom: 0px solid black;">Primary Source Documents</h3>
                <p>Click on the thumbnails below to zoom in and explore these documents.</p>
                <hr>

                <div>
                    <ul id="lightgallery" class="pictures">


                        <!-- DISPLAYED -->
                        <li data-src="/assets/img/civics/teacher-resources/1652-Slavery-1-LG.jpg"
                            data-sub-html="<p>Law limiting terms of servitude, 1652</p>"
                            alt="Law limiting terms of servitude, 1652. Page 1">
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/1652-Slavery-1-SM.jpg"
                                data-original="https://www.sos.ri.gov/assets/img/civics/teacher-resources/1652-Slavery-1-LG.jpg"
                                alt="Law limiting terms of servitude, 1652. Page 1">


                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Law limiting terms of servitude, 1652</h5>
                                <!-- DESCRIPTION -->
                                <p>In 1652, the General Assembly voted to limit the period of indenture that any
                                    servant, Black or white, could be made to serve. It is considered the first
                                    anti-slavery law in the colonies, though it was not well enforced.</p>
                                <p><a class="transcript-link" target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/1652-Slavery.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!-- HIDDEN UNTIL CAROUSEL SHOWN -->
                        <li data-src="/assets/img/civics/teacher-resources/1652-Slavery-2-LG.jpg"
                            data-sub-html="<p>Law limiting terms of servitude, 1652. Page 2</p>">

                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/1652-Slavery-2-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/1652-Slavery-2-LG.jpg"
                                alt="Law limiting terms of servitude, 1652. Page 2" style="display:none;">



                        </li>

                        <!-- DISPLAYED -->
                        <li data-src="/assets/img/civics/teacher-resources/Black-Regiment-p1-LG.jpg"
                            data-sub-html="<p>Legislation for the 'Black Regiment', 1778. Page 1</p>"
                            alt="Legislation for the 'Black Regiment', 1778. Page 1">
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/Black-Regiment-p1-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Black-Regiment-p1-LG.jpg"
                                alt="Legislation for the 'Black Regiment', 1778. Page 1">


                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Legislation for the 1st Rhode Island Regiment, 1778</h5>
                                <!-- DESCRIPTION -->
                                <p>In 1778, the General Assembly authorized the creation of a regiment comprised of free
                                    and enslaved Black and Indigenous men. The law stated that previously enslaved men
                                    who served in the regiment would be free at the war’s end. </p>
                                <p><a class="transcript-link" target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/Black-Regiment.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!-- HIDDEN UNTIL CAROUSEL SHOWN -->
                        <li data-src="/assets/img/civics/teacher-resources/Black-Regiment-p2-LG.jpg"
                            data-sub-html="<p>Legislation for the 'Black Regiment', 1778. Page 2</p>"
                            alt="Legislation for the 'Black Regiment', 1778. Page 2">

                            <img src="/assets/img/civics/teacher-resources/Black-Regiment-p2-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Black-Regiment-p2-LG.jpg"
                                alt="Legislation for the 'Black Regiment', 1778. Page 2" style="display:none;">

                        </li>

                        <!-- HIDDEN UNTIL CAROUSEL SHOWN -->
                        <li data-src="/assets/img/civics/teacher-resources/Black-Regiment-p3-LG.jpg"
                            data-sub-html="<p>Legislation for the 'Black Regiment', 1778. Page 3</p>"
                            alt="Legislation for the 'Black Regiment', 1778. Page 3">

                            <img src="/assets/img/civics/teacher-resources/Black-Regiment-p3-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Black-Regiment-p3-LG.jpg"
                                alt="Legislation for the 'Black Regiment', 1778. Page 3" style="display:none;">

                        </li>

                        <!-- HIDDEN UNTIL CAROUSEL SHOWN -->
                        <li data-src="/assets/img/civics/teacher-resources/Black-Regiment-p4-LG.jpg"
                            data-sub-html="<p>Legislation for the 'Black Regiment', 1778. Page 4</p>"
                            alt="Legislation for the 'Black Regiment', 1778. Page 4">

                            <img src="/assets/img/civics/teacher-resources/Black-Regiment-p4-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Black-Regiment-p4-LG.jpg"
                                alt="Legislation for the 'Black Regiment', 1778. Page 4" style="display:none;">

                        </li>

                        <!-- DISPLAYED -->
                        <li data-src="/assets/img/civics/teacher-resources/1st-RI-Regimental-Roll-Book-LG.jpg"
                            data-sub-html="<p>Petition for equal school rights, 1864</p>"
                            alt="Petition for equal school rights, 1864" style="margin-top: -20px;">



                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/1st-RI-Regimental-Roll-Book-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/1st-RI-Regimental-Roll-Book-LG.jpg"
                                alt="Petition for equal school rights, 1864" style="margin-top: -20px;">



                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Roll Book for the 1st Rhode Island Regiment, 1781-1783</h5>
                                <!-- DESCRIPTION -->
                                <p>This page from the regimental roll book describes some of the men who enlisted in the
                                    1st Rhode Island Regiment. </p>
                                <p><a target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/1st-RI-Regimental-Roll-Book.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!-- DISPLAYED -->
                        <li data-src="/assets/img/civics/teacher-resources/Letter-Taylor-to-Mauran-1862-1-LG.jpg"
                            data-sub-html="<p>Letter Taylor to Mauran-,1862. Page 1</p>"
                            alt="Letter Taylor to Mauran-,1862. Page 1">
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/Letter-Taylor-to-Mauran-1862-1-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Letter-Taylor-to-Mauran-1862-1-LG.jpg"
                                alt="Letter Taylor to Mauran-,1862. Page 1">



                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Letter from Walter Taylor to Adj. General Mauran, 1862</h5>
                                <!-- DESCRIPTION -->
                                <p>At the outbreak of the Civil War, Rhode Island authorized the creation of a regiment
                                    of Black men to fight in the war. Men from around New England volunteered to join.
                                </p>
                                <p><a class="transcript-link" target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/Letter-Taylor-to-Mauran-1862.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!--HIDDEN UNTIL CAROUSEL SHOWN-->
                        <li data-src="/assets/img/civics/teacher-resources/Letter-Taylor-to-Mauran-1862-2-LG.jpg"
                            data-sub-html="<p>Letter Taylor to Mauran-,1862. Page 2</p>"
                            alt="Letter Taylor to Mauran-,1862. Page 2">
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/Letter-Taylor-to-Mauran-1862-2-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Letter-Taylor-to-Mauran-1862-2-LG.jpg"
                                alt="Letter Taylor to Mauran-,1862. Page 2" style="display: none;">
                        </li>


                        <!-- DISPLAYED -->
                        <li data-src="/assets/img/civics/teacher-resources/George-Downing-to-Governor-Smith-1863-1-LG.jpg"
                            data-sub-html="<p>George Downing to Governor Smith, 1863. Page 1</p>"
                            style="margin-top: -20px;" alt="George Downing to Governor Smith, 1863. Page 1">

                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/George-Downing-to-Governor-Smith-1863-1-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/George-Downing-to-Governor-Smith-1863-1-LG.jpg"
                                alt="George Downing to Governor Smith, 1863. Page 1">


                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Letter from George Downing to Governor Smith, 1863</h5>
                                <!-- DESCRIPTION -->
                                <p>George Downing, a prominent businessman, objected to the description of the proposed
                                    “Colored” Regiment. </p>
                                <p><a target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/George-Downing-to-Governor-Smith-1863.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!-- HIDDEN UNTIL CAROUSEL SHOWN -->
                        <li data-src="/assets/img/civics/teacher-resources/George-Downing-to-Governor-Smith-1863-2-LG.jpg"
                            data-sub-html="<p>George Downing to Governor Smith, 1863. Page 2</p>"
                            alt="George Downing to Governor Smith, 1863. Page 2">

                            <img src="/assets/img/civics/teacher-resources/George-Downing-to-Governor-Smith-1863-2-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/George-Downing-to-Governor-Smith-1863-2-LG.jpg"
                                alt="George Downing to Governor Smith, 1863. Page 2" style="display: none;">


                        </li>




                        <!-- DISPLAYED ON HOME SCREEN -->
                        <li data-src="/assets/img/civics/teacher-resources/1864-SchoolPetition-p1-LG.jpg"
                            data-sub-html="<p>Petition for equal school rights, 1864</p>"
                            alt="Petition for equal school rights, 1864">
                            <!-- Why is the margin so much for this 'li'. Had to remove 70px from the margin to make it look goodd -->
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/1864-SchoolPetition-p1-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/1864-SchoolPetition-p1-LG.jpg"
                                alt="Petition for equal school rights, 1864">

                            <!-- SUPPORTING TEXT -->
                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Petition for equal school rights, 1864</h5>
                                <!-- DESCRIPTION -->
                                <p>In 1864, Newport had segregated schools, and children who weren't white often had to
                                    walk long distances to get to their designated school. This petition asks for equal
                                    access to education. </p>
                                <p><a class="transcript-link" target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/1864-School-Petition.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!-- DISPLAYED ON HOME SCREEN -->
                        <li data-src="/assets/img/civics/teacher-resources/Petition-of-Horace-Greeley-Wade-1866-LG.jpg"
                            data-sub-html="<p>Petition of Horace Greeley Wade, 1866</p>"
                            alt="Petition of Horace Greeley Wade, 1866">
                            <!-- Why is the margin so much for this 'li'. Had to remove 70px from the margin to make it look goodd -->
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img src="/assets/img/civics/teacher-resources/Petition-of-Horace-Greeley-Wade-1866-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Petition-of-Horace-Greeley-Wade-1866-LG.jpg"
                                alt="Petition of Horace Greeley Wade, 1866">


                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Petition of Horace Greeley Wade, 1866</h5>
                                <!-- DESCRIPTION -->
                                <p>Soldiers were promised cash bounties for enlisting in the RI Regiment. Some were not
                                    given their full payments and had to appeal to the General Assembly to receive what
                                    was owed to them.</p>
                                <p><a class="transcript-link" target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/Petition-of-Horace-Greeley-Wade-1866.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>

                        <!-- DISPLAYED ON HOME SCREEN -->
                        <li data-src="/assets/img/civics/teacher-resources/Equal-Rights-Petition-1870-LG.jpg"
                            data-sub-html="<p>Petition for equal rights, 1870</p>"
                            alt="Petition for equal rights, 1870">
                            <!-- Why is the margin so much for this 'li'. Had to remove 70px from the margin to make it look goodd -->
                            <!-- IMAGES -->
                            <!-- DONT FORGET THE ALT TEXT -->
                            <img class="themed-collections-img"
                                src="/assets/img/civics/teacher-resources/Equal-Rights-Petition-1870-SM.jpg"
                                data-original="/assets/img/civics/teacher-resources/Equal-Rights-Petition-1870-LG.jpg"
                                alt="Petition for equal rights, 1870">
                            <!-- SUPPORTING TEXT -->
                            <div class="description">
                                <!-- TITLE -->
                                <h5 class="content-headers">Petition for equal rights, 1870</h5>
                                <!-- DESCRIPTION -->
                                <p>This petition asks the General Assembly to pass a law making it illegal to
                                    discriminate on the basis of color or race.</p>
                                <p><a class="transcript-link" target="_blank"
                                        href="https://docs.sos.ri.gov/documents/civicsandeducation/teacherresources/Equal-Rights-Petition-1870.pdf">Read
                                        a transcript.</a></p>
                            </div>
                        </li>
                        <!--- END GALLERY ITEM -->

                    </ul>
                </div>
            </div>
        </div>


        <hr />

        <div class="row">
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <h3 class="content-headers" style="border-bottom: none;">
                    Discussion Topics and Classroom Activities
                </h3>
                <h5 class="content-header-color" style="font-size: 2.2em;">4th grade and up</h5>
                <ul type="disc">
                    <li>
                        <p>What is the difference between being indentured and enslaved? In what ways were the lives of
                            indentured and enslaved people similar?&nbsp;In what ways were they different? </p>
                    </li>
                    <li>
                        <p>Read about the Triangle Trade. What places made up the three points of the triangle?&nbsp;
                            What
                            was shipped to and from each of these points?</p>
                    </li>
                    <li>
                        <p>Do you think joining the 1st Rhode Island Regiment would have been an easy choice for an
                            enslaved man, or a difficult one? Explain your answer.</p>
                    </li>
                    <li>
                        <p>Look at the 1st Regiment Roll Book. How old is the youngest enlistee? How old is the oldest?
                            What is the average age of enlistees? What is the median age?&nbsp; (Remember this is only
                            one
                            page of the book, so your answers may not apply to the whole regiment.)</p>
                    </li>

                    <li>
                        <p>The author of the petition for equal school access wrote beautifully about the importance of
                            education. Think of something really important to you and write a petition asking for it.
                        </p>
                    </li>
                    <li>
                        <p>Think about something you would like to change in your community. Write a petition that
                            briefly
                            explains what you want and see how many friends you can have sign it. </p>
                    </li>
                    <li>
                        <p>The petition from Horace Greeley Wade says that he can’t read or write, and he signs his name
                            with an “x.” How would you feel about signing or marking an agreement that you could not
                            read?
                        </p>
                    </li>

                    <li>
                        <p>Horace Greeley Wade's petition is on a form. Does this suggest anything about how often
                            soldiers
                            were not given their promised bounties?</p>
                    </li>
                </ul>
                <h5 class="content-header-color" style="font-size: 2.2em;">6th grade and up</h5>
                <ul>
                    <li>
                        <p>Read Walter Taylor and George Downing’s letters, and then look at the petitions about
                            education
                            and civil rights that follow. What do they tell you about racism in the north during the
                            period
                            of the Civil War?</p>
                    </li>
                    <li>
                        <p>Equal access to education is an important issue, even today. Can you think of current
                            barriers
                            to equal education in Rhode Island? Look through your local newspaper to find a story about
                            education access. How does this issue affect you?&nbsp;&nbsp;</p>
                    </li>

                    <li>
                        <p>These petitions and letters are more than 100 years old, yet we are still working to address
                            inequities in our state and country. What are some aspects of everyday life that aren’t
                            equal
                            for all people today?&nbsp;Why aren’t they equal?&nbsp;What could we do as a society to
                            change
                            this?</p>
                    </li>

                    <li>
                        <p>The petition from Horace Greeley Wade says that he can’t read or write, and he signs his name
                            with an “x.” Can you think of other instances (historically or in the present) where parties
                            may
                            have signed documents they could not read or understand? Have you ever been asked to sign
                            something you couldn’t read or understand? What do you think about the validity of these
                            documents?</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <h1>@Html.Partial("~/Views/Shared/_ThemedCollectionsIcons.cshtml")</h1>
    </div>
</div>

<div class="bottom-spacer"></div>

<style>
    .themed-collections-content {
        background-color: #fff;
        padding: 2em;
    }

    .pictures {
        text-decoration: none;
    }

    .pictures>li {
        display: flex;
        margin-bottom: 25px;
    }

    .pictures>li>img {
        margin-right: 10px;
    }

    .description>h5 {
        font-size: 16px;
        color: rgb(12, 61, 111);
        line-height: 1.4;
        text-decoration: none;
    }

    .themed-collections-img {
        cursor: zoom-in;
    }

    .description>h5 {
        color: rgb(12, 61, 111);
        /* font-size: 2em; */
    }

    li>p {
        line-height: 1.4em;
    }

    .content-headers {
        border: none;
    }
</style>

<script>

    $(".transcript-link").click(function (e) {
        e.stopPropagation();
    })
</script>
